.pillars{
    background: linear-gradient(to right, #dcf69c, #0099FF);
    color: #fff;

    border-top: 1dvh solid #BBB;
    border-bottom: 1dvh solid #BBB;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    width: 100%;
    height: 100dvh;
}

.pillars h1{
    font-size: 6rem;
}

.pillars h3{
    font-size: 2rem;
}

.pillars h1, h3{
    margin-bottom: 10dvh;
}

@media screen and (max-width: 600px){
    .pillars h1{
        font-size: 3rem;
    }

    .pillars h3{
        font-size: 1.6rem;
    }
}