<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="footer">
        <div class="containerLeft">
            <img src="../assets/images/logoMenu.webp" alt="Logo">
            
            <div class="content">
                <h5>Contatos:</h5>
                <div class="contacts">
                    <h6>0800 724 6522</h6>
                    <h6>faleconosco@biolabfarma.com.br</h6>
                </div>
            </div>
        </div>

        <div class="containerRight">
            
        </div>
    </div>    
</body>
</html>