<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <img src="/assets/images/logoMenu.webp" alt="Logo Menu" class="logoImg">
            
        <button aria-haspopup="true" aria-expanded="false">
        <div class="navButton">
            <p>Navegar</p><img src="/assets/images/chevronDown.svg" alt="" class="navButtonImg">
        </div>
            
        <ul>
            <li>Início</li>
            <li>Pilares</li>
            <li>Depoimentos</li>
        </ul>
        </button>
    </div>
</body>
</html>