<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pillars</title>
    <link rel="stylesheet" href="../css/pillars.css">
</head>
<body>
   <div class="pillars">
        <h1>Nossos pilares</h1>
        <h3>A Biolab Farmacêutica tem um forte compromisso com<br>
        o desenvolvimento  social e o bem-estar das pessoas.<br> 
        Mantém ativa suas práticas de  responsabilidade<br> 
        social, investindo em projetos que promovem saúde,<br>  
        segurança e desenvolvimento de seus colaboradores,<br> 
        além de iniciativas  que beneficiam a<br> 
        sociedade em geral.</h3>
   </div> 
</body>
</html>