<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <link rel="stylesheet" href="../css/testimonials.css">
</head>
<body>
    <div class="testimonials">
        <div class="title">
            <h1>Avaliações</h1>
            <h3>avaliações relacionadas a biolab</h3>
        </div>
        <div class="item">
            <div class="card">
                <div class="description">
                    <div class="stars">
                        <img src="../assets/images/star.svg" alt="Estrela">
                    </div>
                    <div class="descriptionText">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam ipsam quisquam unde adipisci reprehenderit ipsum reiciendis est similique corrupti.</h3>
                    </div>
                </div>

                <div class="person">
                    <img src="../assets/images/placeholders/placeholder.jpeg" alt="Foto">
                    <div class="personText">
                        <h1>Person name</h1>
                        <h3>Position</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>